.index {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}
.test-img {
	width: 32px;
	height: 32px;
}
.test-font {
	font-family: "SF-Pro-Rounded-Bold", "SF-Pro-Rounded-Regular";
	font-size: 30px;
}
